services:
  postgres:
    image: postgres:17
    container_name: db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=user
      - POSTGRES_DB=otus
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d otus || exit 1"]
      interval: 3s
      timeout: 3s
      retries: 20
